<div class="mw-resource-location-map">

  <a class="map-link" ng-click="openMap()" ng-if="!showMap">
    <img style="display: block; max-width: 100%; height: auto;" src="{{ src }}" />
    <div class="hover_overlay"></div>
  </a>

  <!-- from resource/show -->
  <div ng-if="showMap">
    <ui-gmap-google-map
      center="map.center"
      zoom="map.zoom"
      draggable="false"
      dragging="map.dragging"
      bounds="map.bounds"
      events="map.events"
      options="map.options"
      control="map.control"
    >
      <ui-gmap-polygon
        ng-if="map.zonePolygon"
        path="map.zonePolygon.coordinates"
        fill="{ color: '#e1a100', opacity: 0.5 }"
        stroke="{ color: '#e1a100', opacity: 1 }"
        static="true"
      ></ui-gmap-polygon>

      <ui-gmap-marker idKey="m.idKey" ng-repeat="m in map.markers" coords="m" icon="m.icon.replace('80', '40').replace('_2x', '')">
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>
